{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AITom GUI</title>
  <link rel="stylesheet" href="{% static '/frontend/css/icon.css' %}">
 <!-- <link rel="stylesheet" href="{% static '/frontend/css/material.indigo-pink.min.css' %}"> -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
  <link rel="stylesheet" href=" {% static '/frontend/css/stepper.css' %} ">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="{% static '/frontend/css/iconcss.css' %}" rel='stylesheet' type='text/css'>
  <link href="{% static '/frontend/css/styles.css' %}" rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href=" {% static '/frontend/other/favicon.ico' %} " />
  <script src="{% static '/frontend/js/jquery.min.js' %} "></script>

  <script src = " {% static '/frontend/js/resumable.js' %}"></script>
  <script src="{% static '/frontend/js/material.min.js' %}"></script> 
  <script src=" {% static '/frontend/js/stepper.min.js' %} "></script>
  <style>
   
    
    .mdl-stepper-demo .mdl-stepper {
      margin: 0;
    }
    .mdl-stepper > .mdl-step > .mdl-step__content {
	  width: auto;
	  height: auto;
	}
	
    h1 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
}
  </style>
</head>

<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
     <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">AITOM frontend</span>
          <span>Utility for exploring MRC file</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header> <!-- for adding a header in future -->
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">    
          </header>

            <!-- <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form.as_p }}
         
         
          <button type="submit" formaction="/api/model" >Upload</button> 
         </form> -->
         
         <div class="mdl-grid">
           <div class="mdl-cell mdl-cell--12-col">
             <!-- markup -->
             <ul class="mdl-stepper mdl-stepper--feedback" id="demo-stepper-feedback">
               <li class="mdl-step" id = "step1">
                 <span class="mdl-step__label">
                   <span class="mdl-step__title">
                     <span class="mdl-step__title-text">Please select how would you like to proceed</span>
                   </span>
                 </span>
                 <div class="mdl-step__content">
                   <form id ="inp">
                   <input type="radio" name = 'type' value="library" class="mdl-radio__button" checked><label>Browse the library for stored MRC files</label> 
                   <br><br>
                   <input type="radio" name = 'type' value="upload" class="mdl-radio__button"><label>Upload a new MRC file</label> 
                 </form>
                 </div>
                 <div class="mdl-step__actions">
                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised" data-stepper-next>
                     Continue
                   </button>
                  
                 </div>
               </li>
               <li class="mdl-step">
                 <span class="mdl-step__label">
                   <span class="mdl-step__title">
                     <span class="mdl-step__title-text">Choose MRC File</span>
                   </span>
                 </span>
                 <div class="mdl-step__content" id = "step2div">
         
         
             </div>
                 <div class="mdl-step__actions">
                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised" data-stepper-next>
                     Continue
                   </button>
                 
                 </div>
               </li>
               <li class="mdl-step">
                 <span class="mdl-step__label">
                   <span class="mdl-step__title">
                     <span class="mdl-step__title-text">Input Zoom Values and submit</span>
                   </span>
                 </span>
                 <div class="mdl-step__content" id = "step3div"></div>
                 <div class="mdl-step__actions">
                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised" data-stepper-next>
                     Start Again
                   </button>
                  
                 </div>
               </li>
             </ul>
           </div>
         </div>
         
         
         
             
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
      <iframe id="viewer" name="viewer" allowfullscreen allowvr onmousewheel="" src = "/display"></iframe>
        </div>
      </main>
    </div>
  <!-- script -->
  <script>
	 

    (function () {
		var csrftoken = '{{ csrf_token }}';

$.queryJSON = function(type,url, data, callback) {

return $.ajax({
headers: { 
  
  'X-CSRFToken': csrftoken,  
},
'type': 'POST',
'url': url,
'data': JSON.stringify(data),

'success': callback,

'error': function(jqXHR, textStatus = 'error', errorThrown = 'Server Error') {

	console.log(errorThrown,textStatus)
}
})
}
      // Stepper feedback demonstration 
      var demoFeedback = function (e) {
        var element = document.querySelector('.mdl-stepper#demo-stepper-feedback');

        if (!element) return;

        var stepper = element.MaterialStepper;
        var steps = element.querySelectorAll('.mdl-step');
        var step;

        for (var i = 0; i < steps.length; i++) {
          
          step = steps[i];
          if (i==0){
          step.addEventListener('onstepnext', function (e) {
            
            
          choice = $('input[name=type]:checked', '#inp').val()
		  console.log(choice)

          if (choice == 'library')
          { 
		 $.queryJSON('POST','/getLibrary/',{}, function(result){ 
			 console.log(result)
		    $("#step2div").html(result);
	  });
		 }
         else if (choice == 'upload'){ 
		 $.queryJSON('POST','/getUploadForm/',{}, function(result){ 
			 console.log(result)
		    $("#step2div").html(result);
	  });
		 }
          
          stepper.next();
          });
		  }
		  else if (i==1){
			
			step.addEventListener('onstepnext', function (e) {
            
            
			if (sessionStorage['mrcSelect'] != null)
		{	
			$.queryJSON('POST','/getInputForm/',[sessionStorage["mrcSelect"]], function(result){ 
			 console.log(result)
			 
		    $("#step3div").html(result);
	  });
	  stepper.next();
		
		}
			else
			alert("Please upload a file or select a file")
			});

		  }
		  else if (i==2){
       
       // stepper.back()
       step.addEventListener('onstepnext', function (e) {
            
            
        stepper.goto(1);
            });

		  }
      }
        element.addEventListener('onsteppercomplete', function (e) {
          stepper.goto(1);
        });
      };
      
      window.addEventListener('load', demoFeedback);
    })();
  </script>
  
</body>

</html>
